html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 24px;
}

.link {
  display: block;
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button {
  margin: 0;
  padding: 12px 35px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

/* header */

.page-header {
  margin: 0 auto;
  padding: 0;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 50px;
  margin: 0 auto;
  padding: 0; 
  
}

.site-nav__site-menu {
  width: 620px;
}

.contaner {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}


.site-logo {
  display: block;
  width: 89px;
}

.wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1000px;
  background-image: url(../img/Banner-bgi19201200-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* site-navigation */
.site-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-menu__item {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.site-menu__item::after {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  width: 62px;
  height: 3px;
  margin: 0 auto;
  background-color: #ffffff;
}

.site-menu__link {
  color: #ffffff;
}

.site-menu__item:hover:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  background-color: #fce38b;
}

.site-menu__link:hover,
.site-menu__link:focus {
    color: #fce38b;   
}

.site-menu__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
}

.icon-cart {
  display: inline-block;
  background-image: url("../img/CART1815.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

.icon-glass {
  display: inline-block;
  background-image: url("../img/GLASS1818.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;

}

/* <!-- Welcome invitation>  --> */

.section__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

.section__title-pre {
  font-family: 'Kaushan Script', cursive;
  text-decoration: none;
  font-weight: 400;
  line-height: auto;
}

.section__title-main {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  line-height: auto;
  font-weight: bold;
}

.invitation {
  margin-top: 150px;
  margin-bottom: 290px;
}

.invitation__title {
  margin: 0 auto;
}

.invitation__title-pre {
  font-size: 72px;
  color: #ffffff;
}

.invitation__title-main {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  line-height: auto;
  font-weight: bold;
  font-size: 150px;
  color: #ffffff;
  line-height: 140px;
  margin: 0 auto;
  margin-top: 65px;
  margin-bottom: 120px;
  text-align: center; 
}

.section__title-main::after {
  display: block;
  content: "";
  width: 65px;
  height: 3px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #f38181;
}

.invitation-button {
  border: 2px solid #ffffff;
  background-color: transparent;
}

/* <!--Services--> */

.services__list {
  list-style: none;
  color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    margin: 0 auto;
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

 .services__items {
    position: relative;
    width: 382px;
    margin-top: 30px;
    padding-left: 80px;
    
  }

  .services__items::before {
    position: absolute;
    left: 20px;
    top: 20px;
    content: "";
    display: inline-block;
    width: 32px;
    background-color: transparent;
    
  }

  .services__icon--alarm::before {
    background-image: url(../img/icons/ALARM3231-min.png);
    height: 31px;
  }

  .services__icon--line::before {
    background-image: url(../img/icons/LINE\ GRAPH3232-min.png);
    height: 32px;
  }

  .services__icon--comp::before {
    background-image: url(../img/icons/COMPUTER\ _\ OK3228-min.png);
    height: 28px;
  }

  .services__icon--book::before {
    background-image: url(../img/icons/BOOK\ 23232-min.png);
    height: 32px;
  }

  .services__icon--home::before {
    background-image: url(../img/icons/HOME3231-min.png);
    height: 31px;
  }

  .services__icon--image::before {
    background-image: url(../img/icons/IMAGE3232-min.png);
    height: 32px;
  }
  
  .services__title-item {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  }

  /* <!-- Team --> */

.team__title {
  margin-top: 90px;
}

.team__title-text {
  display: block;
  width: 980px;
  margin: 0 auto;
  margin-bottom: 90px;
  color: #999999;
  text-align: center;
  margin-top: 15px;
}
  
.team__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__list-item {
  position: relative;
}

.team__overlay {
  background-image: -moz-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
  position: absolute;
  width: 380px;
  height: 470px;
  z-index: 1;
  opacity: 0;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

.team__list-item:hover .team__overlay {
  -webkit-transform: translate(-10px,-10px);
      -ms-transform: translate(-10px,-10px);
          transform: translate(-10px,-10px);
  /* transition-duration: .2s;
  transition-timing-function: linear; */
  position: absolute;
  z-index: 2;
  opacity: 0.9;
  -webkit-box-shadow: 10px 10px 0 0 rgb(149, 225, 211);
          box-shadow: 10px 10px 0 0 rgb(149, 225, 211);
}

.team__icons-wrapper {
  position: relative;
  width: 380px;
  height: 470px;
  z-index: 10;
  opacity: 0;
}

.team__icons-wrapper:hover {
  position: relative;
  width: 380px;
  height: 470px;
  z-index: 22;
  opacity: 1;
}


.team__name-wrapp {
  margin-bottom: 80px;
  text-align: center;
}

.team__name {
  color: #333333;
  text-transform: uppercase;
  font-weight: 400;
}

.team__pos {
  font-family: 'Roboto', sans-serif;
  color: #999999;
  font-style: italic;
  font-weight: 300;
}
  
.team__icons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 200px;
  left: 70px;
  width: 100%;
  height: 59px;
  border: none;
  padding: 0;
  margin: 0; 
  list-style: none;
  z-index: 23;   
  opacity: 1;
  }

.team__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #fce38a;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  z-index: 30;
  width: 59px;
  height: 59px;
  border: 1px solid transparent;
}

.team__link {
  display: block;
  opacity: 1;
  border: none;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 33;
  fill: #f38181;
}

.icon-facebook {
  background-image: url('../img/socials/facebbok1326.svg');
}

.icon-twetter {
  background-image: url('../img/socials/twitter2622.svg');
  left: 60px; 
}

.icon-pinterest {
  background-image: url('../img/socials/pinterest2126.svg');
  left: 120px;
}

.icon-instagram {
  background-image: url('../img/socials/instagram2626.svg');
  left: 180px;
}

.team__icon:hover {
  background-color: #f38181;
  opacity: 1;
  z-index: 35;
}

.team__icon:hover .team__link {
  fill: #ffffff;
}


/* footer part */
  
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  padding: 0;
  border-top: 1px solid #cccccc;
}

.form__button-subcribe {
  border: none;
  background-color: #95e1d3;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  height: 40px;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  font-style: italic;
}

.footer__details {
   font-family: 'Montserrat', sans-serif;
}

.footer__writes {
  color: #333333;
}

.footer__author {
    color: #f38181;
}

/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type=«checkbox»].visually-hidden,
input[type=«radio»].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* media */

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .wrapper {
    background-image: url('../img/Banner-bgi19201000@2x-min.jpg');
  }
}